.featured-section {
	padding-bottom: 30px!important;
	
	.margin-top-large {
		margin-top: 60px!important;
	}

	h4 {
		font-size: 50px!important;
		font-weight: bold!important;
	}

	p {
		font-size: 35px!important;
		max-width: 950px!important;
	    font-family: 'Usual',sans-serif;
	    font-style: normal;
	    color: #4e4e4e;
	    text-rendering: optimizeLegibility;
	    margin-left: auto;
	    margin-right: auto;
	    margin-bottom: 	88px!important;

	    &.m-b-0 {
	    	margin-bottom: 0px!important;
	    }
	}
	
	p.m-b-30 {
		font-size: 35px!important;
	}

	.bulletcons-inline>ul {
		width: 80%;
		margin: auto!important;
		max-width: initial!important;
	}

	h5 {
		font-size: 22px!important;
		// margin:0 144.594!important;
		margin: auto!important;
	    text-align: center!important;
	    max-width: 80%;
	}

	.toggle {
		font-size: 20px!important;

		a {
			color: #4e4e4e;
		}
	}
}