.turboheader {
	position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    background-color: #000!important;
    flex-wrap: wrap;
    display: block;
    padding: 0px!important;
    width: 100%;
    margin: 0px!important;

    ul {
    	background-color: transparent!important;
    }
}

.navbar-default {
	height: 91px!important;
    background-color: #f8f8f8!important;
    border-color: #e7e7e7!important;
    top: 30px;

	.navbar-header, .navbar-brand {
		height: 91px!important;

		.navbar-toggle {
			margin: 23.5px;
		}
	}

	.navbar-brand {
		padding: 0;

		img {
			height: 100%;
		}
	}

	&.mobile {
		display: none;

		.nav {
			height: auto!important;
		}
	}

	.nav > li > ul > li {
		width: 100%;
		height: auto;
		float: none;
		padding: 0!important;
    }

    .nav > li.open > .dropdown-menu {
    	visibility: visible!important;
    	opacity: 1!important;
    }

	&.custom {

	    .navbar-nav>.open>a,
	    .navbar-nav>.open>a:focus,
	    .navbar-nav>.open>a:hover {
	    	background: none!important;
	    }

	    .navbar-nav > li:hover > .dropdown-menu {
			visibility: visible!important;
			opacity: 1;
    		display: block;
	    	right: auto;
	    	left: 0;
	    	background-color: rgba(255,255,255,0.95);
	    	border: none;
	    	border-radius: 0!important;

	    	& > li {
	    		padding: 10px 0!important;
	    	}
	    }

	    .nav > li {
	    	height: 90px;
		    position: relative;
		    padding: 30px 0px;
	    }

	    .nav a {
	    	display: block;
		    padding: 10px 20px;
		    line-height: 1.2em;
		    color: #212121!important;
		    font-size: 18px;
	    }

		.navbar-collapse.in .nav {
			height: 216px!important;

			&> li {
				height: 36px!important;
				padding: 0px!important;
			}
	    }
	}

}
