
    <div class="panel panel-{[{mdl.type}]}">
      <div class="panel-heading"><i class="fa fa-info-circle"></i> <b>Notification</b></div>
      <div class="panel-body">
        <p>{[{mdl.msg}]}</p>
      </div>
      <footer class="panel-footer">
        <div class="pull-right">
          <button class="btn btn-default" ng-click="cancel()">Cancel</button>
          <button class="btn btn-info" ng-click="ok()">Yes</button>
        </div>
        <div style="clear:both;"></div>
      </footer>
    </div>
