<form name="subjectFORM" class="form-validation ng-pristine ng-invalid ng-invalid-required" >
<div class="panel panel-primary">
  <div class="panel-heading"><i class="fa fa-info-circle"></i> <b>Add Subject</b></div>
  <div class="panel-body">
    <div class="col-sm-4">
      <label>Subject Code</label>
      <input type="text" class="form-control" ng-model="subj.code" ng-pattern="/^[a-zA-Z0-9 -]+$/" required>
    </div>
    <div class="col-sm-8">
      <label>Subject Description</label>
      <input type="text" class="form-control" ng-model="subj.desc" required>
    </div>
  </div>
  <footer class="panel-footer">
    <div class="pull-right">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-info" ng-click="ok(subj)" ng-disabled="subjectFORM.$invalid">Save</button>
    </div>
    <div style="clear:both;"></div>
  </footer>
</div>
</form>
