<form name="subjectFORM" class="form-validation ng-pristine ng-invalid ng-invalid-required" >
<div class="panel panel-primary">
  <div class="panel-heading"><i class="fa fa-info-circle"></i> <b>Subject Notification</b></div>
  <div class="panel-body">
    <p>Do you want to delete this subject?</p>
  </div>
  <footer class="panel-footer">
    <div class="pull-right">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-info" ng-click="ok()">Delete</button>
    </div>
    <div style="clear:both;"></div>
  </footer>
</div>
</form>
