
    <!-- <div class="modal-header bg-gray">
      <h4 class="modal-title">Successful Message</h4>
    </div>
    <div class="modal-body">
      {[{modalMSG}]}
    </div>
    <div class="modal-footer">
      <button class="btn btn-info" type="button" ng-click="ok()">Done</button>
    </div> -->

    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-info-circle"></i> <b>Notification</b></div>
      <div class="panel-body">
        <p>{[{modalMSG}]}</p>
      </div>
      <footer class="panel-footer">
        <div class="pull-right">
          <button class="btn btn-info" ng-click="ok()">Done</button>
        </div>
        <div style="clear:both;"></div>
      </footer>
    </div>
