<form ng-submit="save(form.Form)" name="form.Form" novalidate="">
  <div class="panel panel-default">
    <div class="panel-heading"><i class="icon-info"></i> {[{ title }]}</div>
    <div class="panel-body">
       <div class="form-group">
          <label class="label-control">Name</label>
          <input type="text" name="name" ng-model="field.name" class="form-control" ng-keyup="slugify(field.name)" required autocomplete="off">
           <span class="help-block no-m-bottom text-danger" ng-messages="form.Form.name.$error"  ng-if="setError(form.Form, 'name')">
                <strong ng-message="required">Name is required</strong>
           </span>
       </div> 
       <div class="form-group">
          <label class="label-control">Slug</label>
          <input type="text" name="slug" ng-model="field.slug" class="form-control" autocomplete="off" required>
          <span class="help-block no-m-bottom text-danger" ng-messages="form.Form.slug.$error" ng-if="setError(form.Form, 'slug')">
                <strong ng-message="required">Slug is required</strong>
                <strong ng-message="existed">Slug is already in used.</strong>
           </span>
       </div>                     
    </div>
    <footer class="panel-footer">
      <div class="pull-right">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
      <div style="clear:both;"></div>
    </footer>
  </div>
</form>





