<div class="panel panel-default">
  <div class="panel-heading"><i class="icon-info"></i> Notification</div>
  <div class="panel-body">
    <p>Are you sure you want to delete this Tag?</p>               
  </div>
  <footer class="panel-footer">
    <div class="pull-right">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary" ng-click="ok()">Yes</button>
    </div>
    <div style="clear:both;"></div>
  </footer>
</div>





