<form name="subjectFORM" class="form-validation ng-pristine ng-invalid ng-invalid-required" >
<div class="panel panel-primary">
  <div class="panel-heading"><i class="fa fa-info-circle"></i> <b>Add Subject</b></div>
  <div class="panel-body">

    <div class="row">
      <div class="col-sm-12">
        <label>File Title</label>
        <input type="text" class="form-control" ng-model="file.filetitle" ng-pattern="/^[a-zA-Z0-9 -]+$/" required>
      </div>
      <div class="col-sm-12">
        <label>File Description</label>
        <textarea class="form-control" rows="3" placeholder="Enter ..." ng-model="file.filedesc"></textarea>
        <!-- <input type="text" class="form-control" ng-model="file.filedesc" required> -->
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
      <!-- <input type="file" nv-file-select="" class="filestyle" data-buttonName="btn-primary" uploader="uploader"/> -->
     <!--  <span class="btn btn-primary btn-file">
          Browse <input type="file" nv-file-select="" class="filestyle" uploader="uploader">
      </span> -->
      <div class="input-group">
          <span class="input-group-btn">
              <span class="btn btn-primary btn-file">
                  Unable to edit:
              </span>
          </span>
          <input type="text" class="form-control" ng-model="file.filename" readonly>
      </div>
      </div>
    </div>

  </div>
  <footer class="panel-footer">
    <div class="pull-right">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-info" ng-click="ok(file)" ng-disabled="subjectFORM.$invalid">Save</button>
    </div>
    <div style="clear:both;"></div>
  </footer>
</div>
</form>

