body {
  color: #636363 !important;
}

a:hover {
  text-decoration: none !important;
}

.a-primary {
  color: #6fb536 !important;
}

/*position*/

.p-relative {
  position: relative !important;
}

/*display*/

.display-b {
  display: block !important;
}

/*margin*/

.m-lr-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.m-t-0 {
  margin-top: 0px !important;
}

.m-b-0 {
  margin-bottom: 0px !important;
}

.m-r-0 {
  margin-right: 0px !important;
}

.m-l-0 {
  margin-left: 0px !important;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.m-l-5 {
  margin-left: 5px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.m-l-20 {
  margin-left: 20px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.m-r-30 {
  margin-right: 30px !important;
}

.m-l-30 {
  margin-left: 30px !important;
}

.m-t-60 {
  margin-top: 60px !important;
}

.m-b-60 {
  margin-bottom: 60px !important;
}

.m-r-60 {
  margin-right: 60px !important;
}

.m-l-60 {
  margin-left: 60px !important;
}

.m-t-80 {
  margin-top: 80px !important;
}

.m-b-80 {
  margin-bottom: 80px !important;
}

.m-r-80 {
  margin-right: 80px !important;
}

.m-l-80 {
  margin-left: 80px !important;
}

/*padding*/

.p-20 {
  padding: 20px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.p-l-20 {
  padding-left: 20px !important;
}

.p-r-20 {
  padding-right: 20px !important;
}

.p-t-25 {
  padding-top: 25px !important;
}

.p-b-25 {
  padding-bottom: 25px !important;
}

.p-l-25 {
  padding-left: 25px !important;
}

.p-r-25 {
  padding-right: 25px !important;
}

.p-t-30 {
  padding-top: 30px !important;
}

.p-b-30 {
  padding-bottom: 30px !important;
}

.p-l-30 {
  padding-left: 30px !important;
}

.p-r-30 {
  padding-right: 30px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

/*font*/

.f-20 {
  font-size: 20px !important;
}

.f-24 {
  font-size: 24px !important;
}

.f-35 {
  font-size: 35px !important;
}

.f-bold {
  font-weight: bold !important;
}

.f-primary {
  color: #6fb536;
}

.text-red {
  color: red !important;
}

.btn-primary {
  background: #6fb536 !important;
  border: none !important;
}

.row {
  max-width: initial !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  display: block !important;
}

.content-container {
  padding-top: 121px;
}

.slider {
  margin-right: auto;
  margin-bottom: 4rem;
  margin-left: auto;
  max-width: 800px;
  width: 100% !important;
  height: 16px;
}

.slider .slider-fill {
  height: 100% !important;
}

.slider > .slider-handle {
  height: 60px;
  width: 60px;
}

.slider > .slider-handle img {
  padding: 10px !important;
}

.slider-title {
  font-size: 42.5px !important;
}

.tidbit-callout {
  font-size: 40px !important;
  padding: 16px 30px !important;
}

.slider-p {
  max-width: initial !important;
}

.container-gray-light {
  background-color: #f6f6f6 !important;
}

.buttonlink {
  text-decoration: none !important;
  background-color: #6fb536 !important;
  border-color: #6fb536 !important;
  color: #fff !important;
}

.w-66-p {
  width: 66% !important;
}

.gray-bg {
  background-color: #f6f6f6 !important;
  overflow: hidden;
  margin-bottom: 35px;
  padding-top: 80px;
}

.thomes_img {
  position: absolute;
  top: 0;
  left: 18px;
}

.featured-header {
  font-size: 50px !important;
}

.turboheader {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 0;
  background-color: #000 !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: block;
  padding: 0px !important;
  width: 100%;
  margin: 0px !important;
}

.turboheader ul {
  background-color: transparent !important;
}

.navbar-default {
  height: 91px !important;
  background-color: #f8f8f8 !important;
  border-color: #e7e7e7 !important;
  top: 30px;
}

.navbar-default .navbar-header,
.navbar-default .navbar-brand {
  height: 91px !important;
}

.navbar-default .navbar-header .navbar-toggle,
.navbar-default .navbar-brand .navbar-toggle {
  margin: 23.5px;
}

.navbar-default .navbar-brand {
  padding: 0;
}

.navbar-default .navbar-brand img {
  height: 100%;
}

.navbar-default.mobile {
  display: none;
}

.navbar-default.mobile .nav {
  height: auto !important;
}

.navbar-default .nav > li > ul > li {
  width: 100%;
  height: auto;
  float: none;
  padding: 0 !important;
}

.navbar-default .nav > li.open > .dropdown-menu {
  visibility: visible !important;
  opacity: 1 !important;
}

.navbar-default.custom .navbar-nav > .open > a,
.navbar-default.custom .navbar-nav > .open > a:focus,
.navbar-default.custom .navbar-nav > .open > a:hover {
  background: none !important;
}

.navbar-default.custom .navbar-nav > li:hover > .dropdown-menu {
  visibility: visible !important;
  opacity: 1;
  display: block;
  right: auto;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
  border: none;
  border-radius: 0 !important;
}

.navbar-default.custom .navbar-nav > li:hover > .dropdown-menu > li {
  padding: 10px 0 !important;
}

.navbar-default.custom .nav > li {
  height: 90px;
  position: relative;
  padding: 30px 0px;
}

.navbar-default.custom .nav a {
  display: block;
  padding: 10px 20px;
  line-height: 1.2em;
  color: #212121 !important;
  font-size: 18px;
}

.navbar-default.custom .navbar-collapse.in .nav {
  height: 216px !important;
}

.navbar-default.custom .navbar-collapse.in .nav > li {
  height: 36px !important;
  padding: 0px !important;
}

.featured-section {
  padding-bottom: 30px !important;
}

.featured-section .margin-top-large {
  margin-top: 60px !important;
}

.featured-section h4 {
  font-size: 50px !important;
  font-weight: bold !important;
}

.featured-section p {
  font-size: 35px !important;
  max-width: 950px !important;
  font-family: 'Usual',sans-serif;
  font-style: normal;
  color: #4e4e4e;
  text-rendering: optimizeLegibility;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 88px !important;
}

.featured-section p.m-b-0 {
  margin-bottom: 0px !important;
}

.featured-section p.m-b-30 {
  font-size: 35px !important;
}

.featured-section .bulletcons-inline > ul {
  width: 80%;
  margin: auto !important;
  max-width: initial !important;
}

.featured-section h5 {
  font-size: 22px !important;
  margin: auto !important;
  text-align: center !important;
  max-width: 80%;
}

.featured-section .toggle {
  font-size: 20px !important;
}

.featured-section .toggle a {
  color: #4e4e4e;
}

footer > div > div {
  width: 100%;
}

footer .omz > div {
  height: auto !important;
}

footer .omz > div ul {
  margin: 0px !important;
}

footer .social-media {
  float: right;
}

.main-page .video-section > div {
  padding-top: 60px !important;
}

.main-page .video-section .featured-header {
  text-align: center;
  font-weight: 900;
  font-size: 50px;
  color: white !important;
}

.main-page .video-section .featured-header .cloud-logo {
  width: 75px;
  margin-top: -12px;
}

.main-page .video-section .featured-header .kicker {
  font-size: 40px !important;
}

.main-page .kicker-section > .container {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.main-page .kicker-section > .container .kicker {
  text-align: center;
  font-size: 35px;
  color: #fff;
  line-height: 1.5;
  margin: 0;
}

.main-page .buyer_seller-section > .row > .container {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.main-page .buyer_seller-section > .row > .container .title {
  text-align: left;
  font-size: 40px;
  color: #4e4e4e;
  line-height: 120%;
  font-weight: 700;
}

.main-page .buyer_seller-section > .row > .container .description {
  text-align: justify;
  font-size: 17px;
}

.main-page .buyer_seller-section > .row > .container .buyer-img:first-child {
  display: none;
}

.main-page .buyer_seller-section > .row > .container img {
  width: 100%;
  margin-bottom: 20px;
}

.main-page .buyer_seller-section > .row > .container .seller-img-lockup {
  background-color: #F1F1F1;
}

.main-page .buyer_seller-section > .row > .container a {
  color: #ED7D31;
}

.main-page #home-slider {
  background-color: #fefefe;
  font-size: 20px !important;
}

.main-page #home-slider > .container {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.main-page #home-slider .margin-top-large {
  margin-top: 60px !important;
}

.main-page #home-slider .margin-bottom-large {
  margin-bottom: 60px !important;
}

.main-page .featured-container {
  width: 80%;
  margin: auto;
}

.main-page .featured-container p {
  text-align: center;
  max-width: initial !important;
}

.main-page .featured-container p.m-b-30 {
  margin: 0 auto 30px !important;
}

.main-page .featured-container .icon {
  width: 100px;
  margin: auto;
  height: auto;
  text-align: center;
  display: block;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  #homepage .featured-header {
    font-size: 20px !important;
  }

  #homepage .featured-header .cloud-logo {
    width: 23%;
    height: 23%;
  }

  #homepage .title {
    font-size: 20px;
  }

  #homepage .description {
    font-size: 13px;
  }

  #homepage .slider-title {
    font-size: 25px !important;
  }

  #homepage .margin-bottom-medium {
    font-size: 15px;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  #buy-with-turbo .featured-section h4 {
    font-size: 19px !important;
  }

  #buy-with-turbo .featured-section p {
    font-size: 17px !important;
  }
}

#buy-with-turbo .bulletcon-inline-heading {
  font-size: 17px !important;
}

#buy-with-turbo .slider-title {
  font-size: 25px !important;
}

#buy-with-turbo .slider-p {
  max-width: initial !important;
  font-size: 32px;
}

#sell-with-turbo .bulletcon-inline-heading {
  font-size: 17px !important;
}

#sell-with-turbo .slider-title {
  font-size: 25px !important;
}

#sell-with-turbo .slider-p {
  max-width: initial !important;
  font-size: 17px;
}

#seller-tab-content img.img-responsive {
  width: 100%;
}

.col-xs-offset-3 {
  margin-left: 15%;
}

.stepwizard-row:before {
  width: 95% !important;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  #resizeh3 {
    font-size: 13px !important;
    font-weight: bold !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
  #resize1 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

.provider-market .search-lockup {
  background: #fff;
  margin-bottom: 35px;
}

.provider-market .search-lockup .search {
  height: 42px;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 6px 20px;
}

.provider-market .search-lockup .search-toggle {
  position: absolute;
  top: 0;
  right: 0;
  height: 42px;
  width: 42px;
  background: none;
  border: none;
}

.provider-market .search-lockup .search-toggle:before {
  content: '\F002';
  font-family: "FontAwesome";
  display: block;
  color: #000;
}

.provider-market .market-lockup {
  padding: 11.688 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -moz-flex-wrap: no-wrap;
  -webkit-flex-wrap: no-wrap;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  border: 1px solid rgba(215, 210, 210, 0.45);
  border-left: 0px;
  border-right: 0px;
  font-size: 20px;
}

.provider-market .market-lockup > .market-img,
.provider-market .market-lockup > .market-name,
.provider-market .market-lockup > .market-desc,
.provider-market .market-lockup > .market-link {
  width: 24%;
  text-align: center;
  padding: 30px;
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.provider-market .market-lockup > .market-img > span,
.provider-market .market-lockup > .market-img > a,
.provider-market .market-lockup > .market-name > span,
.provider-market .market-lockup > .market-name > a,
.provider-market .market-lockup > .market-desc > span,
.provider-market .market-lockup > .market-desc > a,
.provider-market .market-lockup > .market-link > span,
.provider-market .market-lockup > .market-link > a {
  margin: auto;
}

.provider-market .market-lockup > .market-img > a,
.provider-market .market-lockup > .market-name > a,
.provider-market .market-lockup > .market-desc > a,
.provider-market .market-lockup > .market-link > a {
  color: #6fb536;
}

.provider-market .market-lockup > .market-img {
  margin-top: 0px !important;
}

.provider-market .market-lockup > .market-img > a > img {
  width: 173.33px;
}

.provider-market .market-lockup > .market-link {
  display: none;
}

.provider-market .market-lockup:hover {
  background-color: #efefef !important;
}

.provider-market .market-lockup:hover > .market-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .f-20 select {
    -webkit-transform: translatex(8px);
            transform: translatex(8px);
    width: 37% !important;
  }

  .provider-market .search-lockup .search-toggle {
    -webkit-transform: translatex(3px);
            transform: translatex(3px);
  }
}

/********************************/

/*Mobile Medium Screen Size*/

@media only screen and (min-width: 375px) and (max-width: 424px) {
  .f-20 select {
    width: 35% !important;
  }
}

@media only screen and (min-width: 425px) and (max-width: 599px) {
  .f-20 select {
    width: 35% !important;
  }
}

.sc_dashboard.menu_page_container.main_dashboard .dashboard_main_title {
  background: #6fb536;
  padding: 10px;
  color: #ffffff;
  text-align: center;
}

.sc_dashboard.menu_page_container.main_dashboard #sc_dashboard_menu_container {
  margin-bottom: 20px !important;
}

.sc_dashboard.menu_page_container.main_dashboard .or_highlight {
  color: #6fb536;
}

.sc_dashboard.menu_page_container.main_dashboard .bolder_text {
  font-weight: bold;
}

.sc_dashboard.menu_page_container.main_dashboard .p_title {
  margin-top: 5px;
}

.sc_dashboard.menu_page_container.main_dashboard .col-md-8 {
  padding: 0px;
}

.sc_dashboard.menu_page_container.main_dashboard .col-md-8 h3 {
  background: #c5c5c5;
  padding: 15px;
  text-align: center;
  font-weight: bold !important;
}

.sc_dashboard.menu_page_container.main_dashboard ul {
  padding: 0px;
  text-align: left !important;
}

.sc_dashboard.menu_page_container.main_dashboard ul li {
  text-align: left !important;
  width: 100%;
}

.sc_dashboard.menu_page_container.main_dashboard ul li .col-sm-11 {
  padding: 0px;
}

.sc_dashboard.menu_page_container.main_dashboard .styled-checkbox {
  position: absolute;
  opacity: 0;
}

.sc_dashboard.menu_page_container.main_dashboard .styled-checkbox + label {
  position: relative;
  cursor: pointer;
  color: #000;
  padding: 0;
}

.sc_dashboard.menu_page_container.main_dashboard .styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-top: 5px;
  background: white;
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.sc_dashboard.menu_page_container.main_dashboard .styled-checkbox:hover + label:before {
  background: #6fb536;
}

.sc_dashboard.menu_page_container.main_dashboard .styled-checkbox:focus + label:before {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.sc_dashboard.menu_page_container.main_dashboard .styled-checkbox:checked + label:before {
  background: #6fb536;
}

.sc_dashboard.menu_page_container.main_dashboard .styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}

.sc_dashboard.menu_page_container.main_dashboard .styled-checkbox:disabled + label:before {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #ddd;
}

.sc_dashboard.menu_page_container.main_dashboard .styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 3px;
  top: 11px;
  background: white;
  width: 2px;
  height: 2px;
  -webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
          box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sc_dashboard.menu_page_container.main_dashboard ul li.reminder {
  margin-left: 14px;
}

.sc_dashboard_container {
  margin-top: 0 !important;
}

#contract_dashboard .link-collapsible {
  display: block;
  padding: 15px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  text-decoration: none !important;
  color: #000 !important;
  background-color: #c5c5c5;
  margin-bottom: 10px;
}

#make_offer_menu_container-mobile {
  display: none !important;
}

#make_offer_menu_container-mobile li {
  width: 100%;
}

#make_offer_menu_container-mobile li > ul {
  width: 80%;
  left: 10%;
}

#make_offer_menu_container-mobile li > ul > li.active a {
  background-color: transparent !important;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
  .nav {
    height: auto !important;
  }
}

.dashboardcontainer {
  width: 100% !important;
}

.seller_menu {
  height: auto !important;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
  #main_buyer_menu li {
    margin: 20px 50px !important;
  }
}

.accordion-content > p {
  font-size: 18px;
}

#main {
  margin-top: 10px !important;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
  .heading-group-title {
    font-size: 1.4rem !important;
  }

  #faq-tabs {
    margin-left: -24px !important;
    margin-right: -24px !important;
  }
}

.heading-group-title {
  margin-bottom: 8rem;
}

#contact-us h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  color: #4E4E4E;
}

#contact-us .md-form label.active {
  font-size: .8rem;
  -webkit-transform: translateY(-50%) !important;
          transform: translateY(-50%) !important;
}

#contact-us .contact-header h1 {
  text-align: center;
  font-size: 54px;
  font-weight: 700;
  color: #4E4E4E;
  padding-top: 75px;
}

#contact-us > .row > .container {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

#signup .rd-btn-lockup {
  display: inline-block;
}

#signup .rd-btn-lockup input {
  height: 0px !important;
  margin: 0px !important;
  visibility: hidden;
  float: left;
}

#blogs .noPadd {
  padding: 0px !important;
}

#blogs .no-pad-left {
  padding-left: 0px !important;
}

#blogs .m-top-15 {
  margin-top: 15px;
}

#blogs .blogList {
  margin-top: 25px;
  padding-left: 0px !important;
}

#blogs .blogList.view {
  margin-top: 0 !important;
}

#blogs .f-4em {
  font-size: 4em !important;
}

#blogs .meta.view {
  font-size: 1.4em;
  margin-bottom: 20px;
}

#blogs .meta.view small {
  margin-right: 10px;
}

#blogs h1.text-center {
  background: #6fb536;
  color: #fff;
  padding: 10px 0px;
  margin-top: 0 !important;
}

#blogs .card {
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  border: none;
  border-radius: 0;
}

#blogs .blog-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 320px;
  width: 90%;
  margin: auto;
}

#blogs .card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 3em;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#blogs .card-img-top {
  display: block;
  width: 100%;
  height: 430px;
}

#blogs .card-title {
  font-size: 2.285714em;
  font-weight: 700;
  line-height: 1.2857em;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

#blogs .card-text {
  clear: both;
  color: rgba(0, 0, 0, 0.68);
  font-size: 18px !important;
  margin-top: 25px;
}

#blogs .card-text.view {
  margin-top: 10px !important;
}

#blogs .card-footer {
  font-size: 1.2em;
  position: static;
  top: 0;
  left: 0;
  max-width: 100%;
  padding: 1.75em 1em;
  color: black;
  border-top: 1px solid #ddd !important;
  background: #fff;
}

#blogs .card-footer .tags {
  background: #6fb536;
  padding: 3px 10px;
  border-radius: 3px;
  color: #fff;
  margin-right: 5px;
  text-decoration: none;
}

#blogs .m-top-10 {
  margin-top: 10px !important;
}

#blogs .m-top-20 {
  margin-top: 20px !important;
}

#blogs .navButton {
  border-radius: 20px;
  padding: 8px 18px;
  color: #337ab7;
  font-size: 1.2em;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  #list-your-home .agent-profile .input-group {
    width: 310px;
    margin: auto;
  }

  .navbar-default.custom .nav a {
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .navbar-default.custom .nav a {
    padding: 10px !important;
  }

  .article-detail #main_buyer_menu > li {
    margin: 0 40px !important;
  }

  .article-detail #main_buyer_menu > li:before {
    left: -84px;
    width: 84px;
  }

  .article-detail #main_seller_menu > li {
    margin: 0 30px !important;
  }

  .article-detail #main_seller_menu > li:before {
    left: -64px;
    width: 64px;
  }

  .article-detail #main_seller_menu > li:before {
    left: -84px;
    width: 84px;
  }
}

@media screen and (max-width: 991px) {
  .navbar-default .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .navbar-default .navbar-brand img {
    height: 80%;
  }

  .navbar-default .nav a {
    font-size: 8px !important;
  }

  .main-page .video-section .featured-header .kicker {
    font-size: 35px !important;
  }

  .market-lockup {
    padding: 0px !important;
    font-size: 16px !important;
  }

  .market-lockup > .market-img,
  .market-lockup > .market-name,
  .market-lockup > .market-desc,
  .market-lockup > .market-link {
    padding: 15px !important;
  }

  .market-lockup > .market-img > a > img {
    width: 125px !important;
  }

  #contact-us .btn-lockup {
    text-align: center !important;
  }

  #contact-us .contact-icons {
    margin-top: 25px;
  }

  .article-detail #main_seller_menu > li:last-child:before {
    visibility: hidden;
  }

  #blogs .no-pad-left,
  #blogs .blogList {
    padding-left: 15px !important;
  }
}

@media screen and (max-width: 768px) {
  .navbar-default.mobile {
    display: block;
    height: auto !important;
    top: 0px !important;
    margin-bottom: 0px !important;
  }

  .turboheader {
    position: relative;
  }

  .navbar-default.custom {
    display: none;
  }

  .navbar-default .navbar-header {
    margin: 0 !important;
  }

  .navbar-default .navbar-brand {
    margin-left: 0 !important;
  }

  .navbar-default .nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 91px;
  }

  .navbar-default .nav li a {
    font-size: 20px !important;
    color: #000;
  }

  #sell-with-turbo {
    padding-top: 0px;
  }

  .main-page .video-section .featured-header .kicker {
    font-size: 30px !important;
  }

  .featured-header {
    font-size: 38px !important;
  }

  .main-page .imgbanner {
    min-height: 400px !important;
  }

  .main-page .container {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .main-page .video-section > div {
    padding-top: 40px !important;
  }

  .main-page .video-section .buttons-lockup .buttonlink {
    height: 50px;
    font-size: 13px;
  }

  .main-page .video-section .pattern-overlay {
    min-height: 480px;
  }

  .main-page .kicker-section > .container {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }

  .main-page .kicker-section > .container .kicker {
    text-align: center;
    font-size: 30px;
    color: #fff;
    line-height: 120%;
  }

  .main-page .featured-section h4 {
    font-size: 38px;
  }

  .main-page .featured-section p {
    font-size: 20px !important;
  }

  .main-page .featured-section .bulletcons-inline > ul {
    width: 100%;
  }

  .main-page .buyer_seller-section > .row > .container {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }

  .main-page .buyer_seller-section > .row > .container .title {
    font-size: 30px;
  }

  .main-page .buyer_seller-section > .row > .container .description {
    font-size: 15px;
  }

  .main-page .buyer_seller-section .buyer-img:first-child {
    display: block !important;
  }

  .main-page .buyer_seller-section .buyer-img:nth-child(3) {
    display: none !important;
  }

  .main-page #home-slider .slider-title {
    font-size: 30px !important;
  }

  .main-page #home-slider .margin-top-large {
    margin-top: 20px !important;
  }

  .main-page #home-slider .margin-bottom-large {
    margin-bottom: 20px !important;
  }

  .main-page #home-slider .m-b-20 {
    margin-bottom: 30px !important;
  }

  .main-page #home-slider h2,
  .main-page #home-slider .summery-container b {
    font-size: 30px;
  }

  .main-page #home-slider .slider-p {
    font-size: 15px;
  }

  .tidbit-callout {
    font-size: 25px !important;
  }

  .summery-container {
    margin-bottom: 20px !important;
    font-size: 20px !important;
  }

  #contact-us .container {
    width: 100% !important;
  }

  #contact-us .container .col-sm-12 {
    width: 100% !important;
  }

  #login .min-height-700 {
    min-height: initial !important;
  }

  #login .min-height-700 .logincontainer {
    margin: 70px auto !important;
  }

  footer .omz {
    text-align: center !important;
  }

  footer .omz > div {
    padding: 25px !important;
  }

  footer .omz .social-media {
    float: none !important;
  }

  .summery-container .summary .summary-inner {
    padding: 0;
  }

  .main-page #home-slider .summery-container b {
    font-size: 18px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 798px) {
  .featured-section h4 {
    font-size: 38px !important;
  }

  .margin-top-small {
    -webkit-transform: translatey(-40px);
            transform: translatey(-40px);
  }
}

@media screen and (max-width: 767px) {
  .content-container {
    padding-top: 0px !important;
  }

  .nav li {
    height: auto !important;
  }

  .gray-bg {
    padding-top: 25px;
  }

  .navbar-default .nav li {
    display: block;
    height: auto !important;
  }

  .provider-market .market-lockup {
    display: block;
  }

  .provider-market .market-lockup .market-img,
  .provider-market .market-lockup .market-name,
  .provider-market .market-lockup .market-desc,
  .provider-market .market-lockup .market-link {
    width: 100% !important;
  }

  .provider-market .market-lockup .market-name,
  .provider-market .market-lockup .market-desc,
  .provider-market .market-lockup .market-link {
    padding-top: 0px !important;
    margin-top: 0px !important;
  }

  .provider-market .market-lockup .market-link {
    display: block !important;
  }

  .featured-container .row.m-b-80 {
    margin-bottom: 0px !important;
  }

  .featured-container .row > div {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 739px) {
  .article-detail #main_seller_menu > li:last-child:before {
    visibility: visible;
  }

  .article-detail #main_seller_menu > li:nth-child(6):before {
    visibility: hidden;
  }

  .article-detail #main_buyer_menu > li:nth-child(6):before {
    visibility: hidden;
  }
}

@media screen and (max-width: 725px) {
  .article-detail #main_buyer_menu > li:nth-child(6):before {
    visibility: visible;
  }

  .article-detail #main_buyer_menu > li {
    margin: 15px 50px !important;
  }

  .article-detail #main_buyer_menu > li {
    margin: 0px 38px !important;
  }

  .article-detail #main_buyer_menu > li:before {
    left: -80px;
    width: 80px;
  }

  .article-detail #main_buyer_menu #blogs .blog-cover {
    height: 260px;
  }

  .article-detail #main_seller_menu > li {
    margin: 15px 40px !important;
  }

  .article-detail #main_seller_menu > li:before {
    left: -83px;
    width: 83px;
  }

  .article-detail #main_seller_menu > li:nth-child(5):before {
    visibility: visible;
  }

  .article-detail #main_seller_menu > li:nth-child(6) {
    margin-top: 30px !important;
  }

  .article-detail #main_seller_menu > li:nth-child(6):before {
    visibility: hidden;
  }

  .article-detail #main_seller_menu > li:nth-child(7) {
    margin-top: 30px !important;
  }
}

@media screen and (max-width: 715px) {
  .article-detail #main_buyer_menu > li:nth-child(6):before {
    visibility: hidden;
  }
}

@media screen and (max-width: 680px) {
  #make_an_offer form {
    clear: both;
  }

  .desktop-view {
    display: none !important;
  }

  #make_offer_menu_container-mobile {
    display: block !important;
  }

  #contact-us h1 {
    font-size: 45px !important;
  }

  #blogs .blog-cover {
    height: 250px;
  }
}

@media screen and (max-width: 630px) {
  .featured-header {
    font-size: 30px !important;
  }

  .main-page .video-section > div {
    padding-top: 60px !important;
  }

  .main-page .video-section .featured-header {
    font-size: 30px !important;
  }

  .main-page .video-section .featured-header .kicker {
    font-size: 24px !important;
  }

  .main-page .kicker-section > .container .kicker {
    font-size: 20px;
  }

  .market-lockup {
    padding: 15px !important;
    font-size: 16px !important;
  }

  .market-lockup > .market-img,
  .market-lockup > .market-name,
  .market-lockup > .market-desc,
  .market-lockup > .market-link {
    margin: 0px !important;
    width: 100% !important;
    text-align: center;
    padding: 5px !important;
    display: block !important;
  }

  .market-lockup > .market-img > a > img {
    width: 150px !important;
  }
}

@media screen and (max-width: 625px) {
  .article-detail #main_seller_menu > li:nth-child(6):before {
    visibility: visible;
  }

  .article-detail #main_seller_menu > li:nth-child(6):before {
    visibility: visible;
  }
}

@media screen and (max-width: 605px) {
  .article-detail #main_buyer_menu > li:last-child:before {
    visibility: visible;
  }

  .article-detail #main_buyer_menu > li:nth-child(5):before {
    visibility: hidden;
  }
}

@media screen and (max-width: 600px) {
  .contact-header h1 {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 565px) {
  #contact-us h1 {
    font-size: 35px !important;
  }

  #contact-us section {
    margin-bottom: 0px !important;
  }

  .main-page #home-slider .display-b {
    font-size: 15px !important;
  }

  .signupsuccess {
    width: 100% !important;
  }
}

@media screen and (min-width: 516px) and (max-width: 625px) {
  .article-detail #main_seller_menu > li {
    margin: 15px 40px !important;
  }

  .article-detail #main_seller_menu > li:before {
    left: -84px;
    width: 84px;
  }

  .article-detail #main_seller_menu > li:nth-child(5):before {
    visibility: hidden;
  }
}

@media screen and (max-width: 591px) {
  .article-detail #main_buyer_menu > li {
    margin: 15px 50px !important;
  }

  .article-detail #main_buyer_menu > li:nth-child(4):before {
    visibility: hidden;
  }

  .article-detail #main_buyer_menu > li:nth-child(5):before {
    visibility: visible;
  }

  .article-detail #main_buyer_menu > li:before {
    left: -103px;
    width: 103px;
  }
}

@media screen and (max-width: 517px) {
  #dashboard_utilities {
    height: 152px;
  }
}

@media screen and (max-width: 515px) {
  .article-detail #main_seller_menu > li {
    margin: 15px 29px !important;
  }

  .article-detail #main_seller_menu > li:before {
    left: -83px;
    width: 83px;
  }

  .article-detail #main_seller_menu > li:nth-child(5):before {
    visibility: hidden;
  }

  .main-page .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .main-page #home-slider .display-b {
    font-size: 15px !important;
  }
}

@media screen and (max-width: 511px) {
  .article-detail #main_seller_menu > li:nth-child(4):before,
  .article-detail #main_seller_menu > li:nth-child(7):before {
    visibility: hidden;
  }

  .article-detail #main_seller_menu > li:nth-child(5):before {
    visibility: visible;
  }
}

@media screen and (max-width: 480px) {
  #signup,
  #signup label {
    font-size: 13px !important;
  }

  .main-page #home-slider .summery-container li > .bordered-list-split {
    text-align: center;
  }

  .main-page #home-slider .summery-container li > .bordered-list-split span {
    display: block;
    margin: 8px !important;
  }
}

@media screen and (max-width: 475px) {
  #contact-us h1 {
    font-size: 25px !important;
  }

  #contact-us > .row > .container {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }

  #contact-us > .row > .container .col-md-8 {
    padding: 0px !important;
  }

  #blogs .blog-cover {
    height: 195px;
  }
}

@media screen and (max-width: 457px) {
  .article-detail #main_buyer_menu > li {
    margin: 15px 45px !important;
  }

  .article-detail #main_buyer_menu > li:before {
    left: -93px;
    width: 93px;
  }

  .article-detail #main_buyer_menu > li:nth-child(4):before {
    visibility: hidden;
  }

  #list-your-home .agent-profile .input-group {
    width: 100% !important;
  }
}

@media screen and (max-width: 431px) {
  .article-detail #main_buyer_menu > li {
    margin: 15px 30px !important;
  }

  .article-detail #main_buyer_menu > li:before {
    left: -64px;
    width: 64px;
  }

  .article-detail #main_buyer_menu > li:nth-child(4):before {
    visibility: hidden;
  }
}

@media only screen and (min-width: 425px) and (max-width: 599px) {
  .featured-section h4 {
    font-size: 30px !important;
  }

  .margin-top-small {
    -webkit-transform: translatey(-40px);
            transform: translatey(-40px);
  }
}

@media screen and (max-width: 425px) {
  #sc_dashboard_menu_container > .sc_dashboard_menu {
    width: 100% !important;
    display: inline;
  }

  #listed_menu.navoffer > li {
    margin: 3px;
    display: block;
    float: left;
    width: auto;
  }

  .tab-content {
    margin-top: 10px;
  }

  .type-of-financing > li {
    width: 49%;
  }

  .article-detail #main_buyer_menu > li {
    margin: 15px 30px !important;
  }

  .article-detail #main_buyer_menu > li:before {
    left: -64px;
    width: 64px;
  }

  .article-detail #main_buyer_menu > li:nth-child(4):before {
    visibility: hidden;
  }

  .w-66-p {
    width: 49% !important;
  }
}

@media screen and (max-width: 410px) {
  #signup h3 {
    font-size: 19px !important;
  }

  #signup #registration_part_one .col-sm-12 {
    padding: 0px !important;
  }
}

@media screen and (max-width: 391px) {
  .article-detail #main_seller_menu > li:nth-child(3):before,
  .article-detail #main_seller_menu > li:nth-child(5):before {
    visibility: hidden;
  }

  .article-detail #main_seller_menu > li:nth-child(4):before {
    visibility: visible;
  }
}

@media screen and (max-width: 397px) {
  .article-detail #main_seller_menu > li:nth-child(3),
  .article-detail #main_seller_menu > li:nth-child(4) {
    margin-top: 30px !important;
  }

  .article-detail #main_seller_menu > li:nth-child(3):before,
  .article-detail #main_seller_menu > li:nth-child(5):before {
    visibility: hidden;
  }

  .article-detail #main_seller_menu > li:nth-child(4):before {
    visibility: visible;
  }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
  .featured-section h4 {
    font-size: 30px !important;
  }

  .margin-top-small {
    -webkit-transform: translatey(-40px);
            transform: translatey(-40px);
  }
}

@media screen and (max-width: 375px) {
  .article-detail #main_seller_menu > li:nth-child(7):before {
    visibility: hidden;
  }

  #contact-us > .row > .container .col-sm-12,
  #contact-us > .row > .container .col-md-12 {
    padding: 0px !important;
  }

  #signup .rd-btn-lockup {
    margin-bottom: 15px !important;
  }

  #signup .form-check {
    width: 100% !important;
    margin-right: 0 !important;
    margin-left: 30px !important;
  }
}

@media screen and (max-width: 363px) {
  #dashboard_utilities {
    height: 220px;
  }

  .article-detail #main_seller_menu > li:nth-child(5):before {
    visibility: hidden;
  }

  .article-detail #main_seller_menu > li:nth-child(4):before {
    visibility: visible;
  }
}

@media screen and (max-width: 337px) {
  .article-detail #main_buyer_menu > li:nth-child(3):before,
  .article-detail #main_buyer_menu > li:nth-child(5):before {
    visibility: hidden;
  }

  .article-detail #main_buyer_menu > li:nth-child(4):before {
    visibility: visible;
  }

  #login .min-height-700 {
    min-height: initial !important;
  }

  #login .min-height-700 .logincontainer {
    margin: 70px auto !important;
  }

  #login .logincontainer {
    width: 100% !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .navbar-collapse.in {
    -webkit-transform: translatex(9px);
            transform: translatex(9px);
    width: 100%;
  }

  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    -webkit-transform: translatey(0px) translatex(9px);
            transform: translatey(0px) translatex(9px);
    width: 100%;
  }

  .margin-top-small {
    -webkit-transform: translatey(-12px);
            transform: translatey(-12px);
  }

  .column .featured-header {
    font-size: 22px !important;
  }

  .heading-small {
    font-size: 17px !important;
  }

  .column.text-center > p,
  .text-center.columns > p {
    font-size: 17px !important;
  }

  .featured-section h4 {
    font-size: 22px !important;
  }
}

@media screen and (max-width: 283px) {
  .article-detail #main_seller_menu > li:nth-child(1),
  .article-detail #main_seller_menu > li:nth-child(2),
  .article-detail #main_seller_menu > li:nth-child(3),
  .article-detail #main_seller_menu > li:nth-child(4),
  .article-detail #main_seller_menu > li:nth-child(5),
  .article-detail #main_seller_menu > li:nth-child(6),
  .article-detail #main_seller_menu > li:nth-child(7) {
    margin-top: 10px !important;
  }

  .article-detail #main_seller_menu > li:before {
    visibility: hidden !important;
  }
}

@media screen and (max-width: 243px) {
  .article-detail #main_buyer_menu > li:nth-child(1),
  .article-detail #main_buyer_menu > li:nth-child(2),
  .article-detail #main_buyer_menu > li:nth-child(3),
  .article-detail #main_buyer_menu > li:nth-child(4),
  .article-detail #main_buyer_menu > li:nth-child(5),
  .article-detail #main_buyer_menu > li:nth-child(6),
  .article-detail #main_buyer_menu > li:nth-child(7) {
    margin-top: 10px !important;
  }

  .article-detail #main_buyer_menu > li:before {
    visibility: hidden !important;
  }
}

#landing-page {
  height: 100%;
}

#landing-page h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  color: #4E4E4E;
}

#landing-page .contact-header h1 {
  text-align: center;
  font-size: 54px;
  font-weight: 700;
  color: #4E4E4E;
  padding-top: 75px;
}

#landing-page > .row > .container {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .landingimg {
    margin-left: -14px !important;
  }
}

/********************************/

/*Mobile Medium Screen Size*/

@media only screen and (min-width: 375px) and (max-width: 424px) {
  .landingimg {
    margin-left: -14px !important;
  }
}

/********************************/

/*Mobile Large Screen Size*/

@media only screen and (min-width: 425px) and (max-width: 599px) {
  .landingimg {
    margin-left: -11px !important;
  }
}

