body {
	color: #636363!important;
}

a {
	&:hover {
		text-decoration: none!important;
	}
}

.a-primary {
	color: #6fb536!important;
}

/*position*/
.p-relative {
	position: relative!important;
}

/*display*/
.display-b {
	display: block!important;
}

/*margin*/
.m-lr-auto {
	margin-left: auto!important;
	margin-right: auto!important;
}

.m-t-0 {
	margin-top: 0px!important
}

.m-b-0 {
	margin-bottom: 0px!important
}

.m-r-0 {
	margin-right: 0px!important
}

.m-l-0 {
	margin-left: 0px!important
}

.m-t-5 {
	margin-top: 5px!important
}

.m-b-5 {
	margin-bottom: 5px!important
}

.m-r-5 {
	margin-right: 5px!important
}

.m-l-5 {
	margin-left: 5px!important
}

.m-t-20 {
	margin-top: 20px!important
}

.m-b-20 {
	margin-bottom: 20px!important
}

.m-r-20 {
	margin-right: 20px!important
}

.m-l-20 {
	margin-left: 20px!important
}

.m-t-30 {
	margin-top: 30px!important
}

.m-b-30 {
	margin-bottom: 30px!important
}

.m-r-30 {
	margin-right: 30px!important
}

.m-l-30 {
	margin-left: 30px!important
}

.m-t-60 {
	margin-top: 60px!important
}

.m-b-60 {
	margin-bottom: 60px!important
}

.m-r-60 {
	margin-right: 60px!important
}

.m-l-60 {
	margin-left: 60px!important
}

.m-t-80 {
	margin-top: 80px!important
}

.m-b-80 {
	margin-bottom: 80px!important
}

.m-r-80 {
	margin-right: 80px!important
}

.m-l-80 {
	margin-left: 80px!important
}

/*padding*/
.p-20 {
	padding: 20px!important;
}

.p-t-20 {
	padding-top: 20px!important;
}

.p-b-20 {
	padding-bottom: 20px!important;
}

.p-l-20 {
	padding-left: 20px!important;
}

.p-r-20 {
	padding-right: 20px!important;
}

.p-t-25 {
	padding-top: 25px!important;
}

.p-b-25 {
	padding-bottom: 25px!important;
}

.p-l-25 {
	padding-left: 25px!important;
}

.p-r-25 {
	padding-right: 25px!important;
}

.p-t-30 {
	padding-top: 30px!important;
}

.p-b-30 {
	padding-bottom: 30px!important;
}

.p-l-30 {
	padding-left: 30px!important;
}

.p-r-30 {
	padding-right: 30px!important;
}

.p-t-10 {
	padding-top: 10px!important;
}

.p-b-10 {
	padding-bottom: 10px!important;
}

.p-l-10 {
	padding-left: 10px!important;
}

.p-r-10 {
	padding-right: 10px!important;
}

/*font*/
.f-20 {
	font-size: 20px!important;
}

.f-24 {
	font-size: 24px!important;
}

.f-35 {
	font-size: 35px!important;
}

.f-bold {
	font-weight: bold!important;
}

.f-primary {
	color: $primary-color;
}

.text-red {
	color: red!important;
}

// buttons
.btn-primary {
	background: #6fb536 !important;
    border: none !important;
}

// content
.row {
	max-width: initial!important;
	// margin-right: -15px!important;
 //    margin-left: -15px!important;
 	margin-right: 0px!important;
    margin-left: 0px!important;
    display: block!important;
}

.content-container {
	padding-top: 121px;
}

// div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
// 	margin: auto!important;
// }

.slider {
	margin-right: auto;
    margin-bottom: 4rem;
    margin-left: auto; 
    max-width: 800px;
    width: 100%!important;
    height: 16px;

    .slider-fill {
    	height: 100%!important;
    }

    & > .slider-handle {
	    height: 60px;
	    width: 60px;

	    img {
	    	padding: 10px!important;
	    }
	}
}

.slider-title {
	font-size: 42.5px!important;
}

.tidbit-callout {
	font-size: 40px!important;
	padding: 16px 30px!important;
}

.slider-p {
	// margin-left: 106.875px!important;
	// margin-right: 106.875px!important;
	max-width: initial!important;
}

.container-gray-light {
    background-color: #f6f6f6!important;
}

.buttonlink {
	text-decoration: none!important;
	background-color: #6fb536!important;
	border-color: #6fb536!important;
	color: #fff!important;
}

.w-66-p {
	width: 66%!important;
}

.gray-bg {
	background-color:#f6f6f6!important;
	overflow: hidden;
    margin-bottom: 35px;
    padding-top: 80px;
}

.thomes_img {
	position: absolute;
	top: 0;
	left: 18px;
}

.featured-header {
	font-size:50px!important;
} 


