@mixin border-radius($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin bg-image($url){
	background-image: url($url);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@mixin bg-image-prop(){
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@mixin bx-shadow(){
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

@mixin placeholder($color){
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: $color;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: $color;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: $color;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: $color;
	}
}

@mixin flex-container {
	display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    flex-wrap: no-wrap;
    -moz-flex-wrap: no-wrap;
    -webkit-flex-wrap: no-wrap;
    flex-basis: auto;
}

@mixin market-content($width) {
	width: $width;
	text-align: center;
	padding: 30px;
	margin-top: 4px;
}