#blogs{
	
	.noPadd{
	   padding : 0px !important;
	}

	.no-pad-left {
	   padding-left : 0px !important;
	}

	.m-top-15{
	   margin-top : 15px;
	}

	.blogList{
	   margin-top: 25px; 
	   padding-left: 0px !important;
	   &.view{
	      margin-top : 0 !important;
	   }
	}

	.f-4em{
	   font-size: 4em !important;
	}

	.meta{
	   &.view{
	      font-size: 1.4em;
	      margin-bottom: 20px;

	      small{
	         margin-right: 10px
	      }
	   }
	}

	h1{
	   &.text-center{
	      background: #6fb536;
	      color: #fff; 
	      padding: 10px 0px; 
	      margin-top : 0 !important;
	   }
	}

	.card {
	    font-size: 1em;
	    overflow: hidden;
	    padding: 0;
	    border: none;
	    border-radius: 0;
	    //box-shadow: 0 1px 3px 0 #eee, 0 0 0 1px #eee;
	}

	.blog-cover {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		height: 320px;
		width: 90%;
		margin: auto;
	}

	.card-block {
	    font-size: 1em;
	    position: relative;
	    margin: 0;
	    padding: 3em;
	    border: none;
	    // border-top: 1px solid rgba(34, 36, 38, .1);
	    box-shadow: none;
	}

	.card-img-top {
	    display: block;
	    width: 100%;
	    height: 430px;
	}

	.card-title {
	    font-size: 2.285714em;
	    font-weight: 700;
	    line-height: 1.2857em;
	    margin-top: 0px !important;
	    margin-bottom: 0px !important;
	}

	.card-text {
	    clear: both;
	    color: rgba(0, 0, 0, .68);
	    font-size: 18px !important;
	    margin-top: 25px; 
	    &.view{
	       margin-top: 10px !important;
	    }
	}

	.card-footer {
	    font-size: 1.2em;
	    position: static;
	    top: 0;
	    left: 0;
	    max-width: 100%;
	    padding: 1.75em 1em;
	    color: rgb(0, 0, 0);
	    border-top: 1px solid #ddd !important;
	    background: #fff;

	    .tags{
	       background: #6fb536; 
	       padding: 3px 10px; 
	       border-radius: 3px; 
	       color: #fff;
	       margin-right: 5px;
	       text-decoration : none;
	    }

	    
	}

	.m-top-10{
	   margin-top : 10px !important; 
	}

	.m-top-20{
	   margin-top : 20px !important; 
	}

	.navButton{
	    border-radius: 20px;
	    padding: 8px 18px;
	    color: #337ab7;
	    font-size: 1.2em;
	    margin-bottom : 20px
	}
}