#buy-with-turbo {
	
	@media screen and (min-width: 320px) and (max-width: 425px) {


	.featured-section h4 {
    font-size: 19px !important;
  }


  .featured-section p{
  	font-size: 17px !important;
  }
	}


	.bulletcon-inline-heading{

		font-size: 17px !important;
	}

	.slider-title {

		font-size: 25px !important;
	}

	.slider-p {
    max-width: initial !important;
    font-size: 32px;
}


}