
.dashboardcontainer{
	width:100% !important;

}

.seller_menu{
	height :auto !important;

}

@media only screen and (min-width:320px) and (max-width:991px){
#main_buyer_menu li{
	margin: 20px 50px !important;
}
	
}




