#contact-us {
    h1 {
        text-align:center; 
        font-size:60px; 
        font-weight:700; 
        color:#4E4E4E;
    }

    .md-form {
        label.active {
            font-size: .8rem;
            transform: translateY(-50%) !important;
        }
    }
    .contact-header {
        h1 {
            text-align: center;
            font-size: 54px;
            font-weight: 700;
            color: #4E4E4E;
            padding-top: 75px;
        }
    }

    & > .row > .container {
        padding-top: 50px!important;
        padding-bottom: 50px!important;
    }
}