.sc_dashboard.menu_page_container.main_dashboard { 
    .dashboard_main_title{
        background: $primary-color;
        padding: 10px;
        color: #ffffff;
        text-align : center;
    }

    #sc_dashboard_menu_container { 
        margin-bottom: 20px!important;
    }


    .or_highlight{
    	color :  $primary-color;	
    }

    .bolder_text{
    	font-weight : bold;  
    }

    .p_title{
    	margin-top:5px;
    }

    .col-md-8{
    	padding : 0px;
    }

    .col-md-8 h3{
    	background: #c5c5c5;
        padding: 15px;
        text-align: center;
        font-weight : bold !important;
    }

    ul{
       padding : 0px;	
       text-align :left !important;
    }

    ul li{
    	text-align : left !important;
        width: 100%;
    }

    ul li .col-sm-11{
        padding : 0px;
    }


    .styled-checkbox {
        position: absolute; // take it out of document flow
        opacity: 0; // hide it

        & + label {
            position: relative;
            cursor: pointer;
            color : #000;
            padding: 0;
        }

        // Box.
        & + label:before {
            content: '';
            margin-right: 10px;
            display: inline-block;
            //vertical-align: text-top;
            width: 15px;
            height: 15px;
            margin-top: 5px;
            background: white;
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
        }

        // Box hover
        &:hover + label:before {
            background: $primary-color;
        }
      
        // Box focus
        &:focus + label:before {
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
        }

        // Box checked
        &:checked + label:before {
            background: $primary-color;
        }
      
        // Disabled state label.
        &:disabled + label {
            color: #b8b8b8;
            cursor: auto;
        }

        // Disabled box.
        &:disabled + label:before {
            box-shadow: none;
            background: #ddd;
        }

        // Checkmark. Could be replaced with an image
        &:checked + label:after {
            content: '';
            position: absolute;
            left: 3px;
            top: 11px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow: 
                2px 0 0 white,
                4px 0 0 white,
                4px -2px 0 white,
                4px -4px 0 white,
                4px -6px 0 white,
                4px -8px 0 white;
            transform: rotate(45deg);
        }
    }

    ul li.reminder{
        margin-left : 14px;
    }
}


.sc_dashboard_container{
    margin-top:0 !important;
}

#contract_dashboard {
    .link-collapsible {
        display: block;
        padding: 15px;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        text-decoration: none!important;
        color: #000!important;
        background-color: #c5c5c5;
        margin-bottom: 10px;
    }
}

#make_offer_menu_container-mobile {
    display: none!important;
    li {
        width: 100%;
        & > ul {
            width: 80%;
            left: 10%;

            & > li.active a {
                background-color: transparent!important;
            }
        }
    }
}

@media only screen and (min-width:320px) and (max-width:991px){
    .nav{
        height:auto !important;
    }
}
