.accordion-content>p{
	font-size:18px;
}
#main{
	
margin-top: 10px !important

}




@media only screen and (min-width:320px) and (max-width:991px){
.heading-group-title{
		font-size:1.4rem !important;
}



	
	#faq-tabs{

	    margin-left: -24px !important; 
    margin-right: -24px !important; 
	}
}

.heading-group-title{
	
margin-bottom:8rem;

}


