#homepage {


@media screen and (min-width: 320px) and (max-width: 425px) {




.featured-header{
	
	font-size: 20px !important;
}

.featured-header{

	.cloud-logo{
		width: 23%;
		height: 23%;
	}
}


.title {

	font-size: 20px;
}

.description {

	font-size: 13px;
}


 .slider-title {
    font-size: 25px !important;
}

.margin-bottom-medium {

	

font-size: 15px;


	} 


}
}