#landing-page {
    
    height : 100%;
    
    h1 {
        text-align:center; 
        font-size:60px; 
        font-weight:700; 
        color:#4E4E4E;
    }

   
    .contact-header {
        h1 {
            text-align: center;
            font-size: 54px;
            font-weight: 700;
            color: #4E4E4E;
            padding-top: 75px;
        }
    }

    & > .row > .container {
        padding-top: 50px!important;
        padding-bottom: 50px!important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 374px)
{
    .landingimg{
      margin-left: -14px !important;
    }
}
/********************************/


/*Mobile Medium Screen Size*/
@media only screen and (min-width: 375px) and (max-width: 424px)
{
    .landingimg{
      margin-left: -14px !important;
    }
}
/********************************/


/*Mobile Large Screen Size*/
@media only screen and (min-width: 425px) and (max-width: 599px)
{
        .landingimg{
      margin-left: -11px !important;
    }
}