.col-xs-offset-3{
	
margin-left:15%;


}

.stepwizard-row:before{
	

	width:95% !important;
}



@media only screen and (min-width:320px) and (max-width:768px){


#resizeh3{
	font-size:13px !important;
		font-weight: bold !important;

}

}


@media only screen and (min-width:320px) and (max-width:991px){
	
	#resize1{

		    padding-right: 0 !important;
    		padding-left: 0 !important;


	}

}








