.provider-market {
	
	.search-lockup {
		background: #fff;
		margin-bottom: 35px;

		.search {
			height: 42px;
		    width: 100%;
		    border: 1px solid #e5e5e5;
		    padding: 6px 20px;
		}

		.search-toggle {
			position: absolute;
		    top: 0;
		    right: 0;
		    height: 42px;
		    width: 42px;
		    background: none;
		    border: none;

		    &:before {
		    	content: '\f002';
			    font-family: "FontAwesome";
			    display: block;
			    color: #000;
		    }
		}
	}

	.market-lockup {
		padding: 11.688!important;
		@include flex-container;
	    border: 1px solid rgba(215, 210, 210, 0.45);
		border-left: 0px;
		border-right: 0px;
		font-size: 20px;

		& > .market-img,
		& > .market-name,
		& > .market-desc,
		& > .market-link {
	    	@include market-content(24%);

	    	// display: inline-block;
	    	display: flex;
	    	align-items: center;

	    	> span,
	    	> a {
	    		margin: auto;
	    	}

	    	> a {
	    		color: #6fb536;
	    	}
	    }
		
	    & > .market-img {
	    	margin-top: 0px !important;

	    	& > a > img {
	    		width: 173.33px;
	    	}
	    }

	    & > .market-link {
	    	display: none;
	    }

		&:hover {
			// background: rgba(255, 121, 0, 0.12);
			background-color: #efefef!important;

			& > .market-link {
				// display: inline-block;
				display: flex;
				align-items: center;
			}
		}

	}

	


}

@media only screen and (min-width: 320px) and (max-width: 374px)
	{
		.f-20{
				select{
				transform: translatex(8px);
		  	  	width: 37% !important;
			}
		}
		.provider-market .search-lockup .search-toggle{
			transform: translatex(3px);
		}
	}
	/********************************/


	/*Mobile Medium Screen Size*/
	@media only screen and (min-width: 375px) and (max-width: 424px)
	{
			.f-20{
				select{
		  	  	width: 35% !important;
			}
		}

	}
	@media only screen and (min-width: 425px) and (max-width: 599px)
	{
		.f-20{
				select{
		  	  	width: 35% !important;
			}
		}
	}
