// $mobile-portrait: 320px;
// $mobile-landscape-min: 321px;
// $mobile-landscape-max: 480px;
// $tablet-min: 768px;
// $tablet-max: 1024px;

@media screen and (max-width: 1199px) {
	#list-your-home {
		.agent-profile {
			.input-group {
				width: 310px;
			    margin: auto;
			}
		}
	}

	.navbar-default.custom .nav a {
		font-size: 14px;
	}
}

@media screen and (max-width: 1024px) {
	.navbar-default.custom .nav a {
		padding: 10px!important;
	}

	.article-detail #main_buyer_menu {

		& > li {
			margin: 0 40px !important;

			&:before {
				left: -84px;
				width: 84px;
			}
		}

	}

	.article-detail #main_seller_menu {

		& > li {
			margin: 0 30px !important;

			&:before {
				left: -64px;
				width: 64px;
			}
		}

	}

	.article-detail #main_seller_menu>li:before {
		left: -84px;
    	width: 84px;
	}
}

@media screen and (max-width: 991px) {
	.navbar-default {
		.navbar-brand {
			display: flex;
			align-items: center;

			img {
				height: 80%;
			}
		}

		.nav {
			a {
				font-size: 8px!important;
			}
		}
	}

	.main-page .video-section .featured-header .kicker {
		font-size: 35px!important;
	}

	.market-lockup {
		padding: 0px !important;
		font-size: 16px !important;

		& > .market-img,
		& > .market-name,
		& > .market-desc,
		& > .market-link {
	    	padding: 15px !important;
	    }

	    & > .market-img {

	    	& > a > img {
	    		width: 125px !important;
	    	}
	    }

	}

	#contact-us {
		.btn-lockup {
			text-align: center!important;
		}

		.contact-icons {
			margin-top: 25px;
		}
	}

	.article-detail #main_seller_menu>li:last-child:before {
		visibility:hidden;
	}

	#blogs .no-pad-left,
	#blogs .blogList {
		padding-left: 15px!important;
	}
}

@media screen and (max-width: 768px) {

	// header
	.navbar-default.mobile {
		display: block;
		height: auto!important;
		top: 0px!important;
		margin-bottom: 0px!important;
	}

	.turboheader {
		position: relative;
	}

	.navbar-default.custom {
		display: none;
	}

	.navbar-default {
		.navbar-header {
			margin: 0!important;
		}

		.navbar-brand {
			margin-left: 0!important;
		}

		.nav {
			li {
				display: flex;
			    align-items: center;
			    height: 91px;
				a {
					font-size: 20px!important;
					color: #000;
				}
			}
		}
	}

	#sell-with-turbo {
		padding-top: 0px;
	}

	.main-page .video-section .featured-header .kicker {
		font-size: 30px!important;
	}

	.featured-header {
		font-size: 38px!important;
	}

	.main-page {
		.imgbanner {
			min-height: 400px!important;
		}

		.container {
			padding-left: 40px!important;
			padding-right: 40px!important;
		}
		.video-section {
			& > div {
				padding-top: 40px!important;
			}

			.buttons-lockup .buttonlink {
				height: 50px;
				font-size: 13px;
			}

			.pattern-overlay {
				min-height: 480px;
			}
		}

		.kicker-section {
			& > .container {
				padding-top: 30px!important;
				padding-bottom: 30px!important;

				.kicker {
					text-align: center;
					font-size: 30px;
					color: #fff;
					line-height: 120%;
				}
			}
		}

		.featured-section {
			h4 {
				font-size: 38px;
			}

			p {
				font-size: 20px!important;
			}

			.bulletcons-inline>ul {
				width: 100%;
			}
		}

		.buyer_seller-section {
			& > .row > .container {
				padding-top: 30px !important;
				padding-bottom: 30px !important;

				.title {
					font-size: 30px;
				}

				.description {
					font-size: 15px;
				}

			}

			.buyer-img:first-child {
				display: block!important;
			}

			.buyer-img:nth-child(3) {
				display: none!important;
			}
		}

		#home-slider {

			.slider-title {
				font-size: 30px!important;
			}

			.margin-top-large {
				margin-top: 20px!important;
			}

			.margin-bottom-large {
				margin-bottom: 20px!important;
			}

			.m-b-20 {
				margin-bottom: 30px!important;
			}

			h2, .summery-container b {
				font-size: 30px;
			}

			.slider-p {
				font-size: 15px;
			}
		}
	}

	.tidbit-callout {
		font-size: 25px!important;
	}

	.summery-container {
		margin-bottom: 20px!important;
		font-size: 20px!important;
	}

	.article-detail #main_seller_menu li,
	.article-detail #main_buyer_menu li {
		// margin: 0 25px !important;
	}

	#contact-us {
		.container {
			width: 100%!important;

			.col-sm-12 {
				width: 100%!important;
			}
		}
	}

	#login {
		.min-height-700 {
			min-height: initial!important;

			.logincontainer {
				margin: 70px auto!important;
			}
		}
	}

	footer {
		.omz {
			text-align: center!important;

			& > div {
				padding: 25px!important;
			}

			.social-media {
				float: none!important;
			}
		}
	}

	.summery-container {
		.summary {
			.summary-inner {
				padding: 0;
			}
		}
	}

	.main-page #home-slider .summery-container b {
		font-size: 18px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 798px)
{
	.featured-section {
		h4 {
			font-size: 38px !important;
		}
	}
	.margin-top-small{
		transform: translatey(-40px);
	}

}
@media screen and (max-width: 767px) {
	.content-container {
		padding-top: 0px!important;
	}

	.nav {
		li {
		    height: auto!important;
		}
	}

	.gray-bg {
    	padding-top: 25px;
	}

	.navbar-default {

		.nav {
			li {
				display: block;
		    	height: auto!important;
			}
		}
	}

	.provider-market .market-lockup {
		display: block;

		.market-img,
		.market-name,
		.market-desc,
		.market-link {
			width: 100%!important;
		}

		.market-name,
		.market-desc,
		.market-link {
			padding-top: 0px!important;
			margin-top: 0px!important;
		}

		.market-link {
			display: block!important;
		}
	}

	.featured-container {
		.row {
			&.m-b-80 {
				margin-bottom: 0px!important;
			}

			> div {
				margin-bottom: 25px;
			}
		}
	}
}

@media screen and (max-width: 739px) {

	.article-detail #main_seller_menu {
		>li:last-child:before {
			visibility: visible;
		}

		>li:nth-child(6):before {
			visibility: hidden;
		}
	}

	.article-detail #main_buyer_menu {
		>li:nth-child(6):before {
			visibility: hidden;
		}
	}

}

@media screen and (max-width: 725px) {
	.article-detail #main_buyer_menu {
		>li:nth-child(6):before {
			visibility: visible;
		}

		& > li {
			margin: 15px 50px !important;
		}

		& > li {
			margin: 0px 38px !important;

			&:before {
				left: -80px;
				width: 80px;
			}
		}

		#blogs .blog-cover {
			height: 260px;
		}
	}

	.article-detail #main_seller_menu {

		& > li {
			margin: 15px 40px !important;

			&:before {
				left: -83px;
				width: 83px;
			}
		}

		& > li:nth-child(5) {
			&:before {
				visibility: visible;
			}
		}

		& > li:nth-child(6) {
			margin-top: 30px!important;

			&:before {
				visibility: hidden;
			}
		}

		& > li:nth-child(7) {
			margin-top: 30px!important;
		}
	}
}

@media screen and (max-width: 715px) {
	.article-detail #main_buyer_menu {
		>li:nth-child(6):before {
			visibility: hidden;
		}
	}
}

@media screen and (max-width: 680px) {
	#make_an_offer form {
		clear: both;
	}
	// #make_an_offer ul {
	// 	display:block!important;
	// }

	// #make_an_offer ul li {
	// 	width: 100% !important;
	// 	margin: 1px 0px;
	// }

	.desktop-view {
		display: none!important;
	}

	#make_offer_menu_container-mobile {
		display: block!important;
	}

	#contact-us {
		h1 {
			font-size: 45px!important;
		}
	}

	#blogs .blog-cover {
		height: 250px;
	}
}

@media screen and (max-width: 630px) {

	.featured-header {
		font-size: 30px!important;
	}

	.main-page {

		.video-section {
			& > div {
				padding-top: 60px!important;
			}

			.featured-header {
				font-size: 30px!important;

				.kicker {
					font-size: 24px!important;
				}
			}
		}

		.kicker-section {
			& > .container {

				.kicker {
					font-size: 20px;
				}
			}
		}
	}


	.market-lockup {
		padding: 15px !important;
		font-size: 16px !important;

		& > .market-img,
		& > .market-name,
		& > .market-desc,
		& > .market-link {
			margin: 0px !important;
			width: 100% !important;
			text-align: center;
	    	padding: 5px !important;
	    	display: block !important;
	    }

	    & > .market-img {

	    	& > a > img {
	    		width: 150px !important;
	    	}
	    }

	}
}

@media screen and (max-width: 625px) {
	.article-detail #main_seller_menu {
		& > li:nth-child(6) {
			&:before {
				visibility: visible;
			}
		}
	}

	.article-detail #main_seller_menu {
		>li:nth-child(6):before {
			visibility: visible;
		}
	}
}

@media screen and (max-width: 605px) {
	.article-detail #main_buyer_menu {
		>li:last-child:before {
			visibility: visible;
		}

		>li:nth-child(5):before {
			visibility: hidden;
		}
	}
}

@media screen and (max-width: 600px) {
    .contact-header {
        h1 {
            font-size: 20px !important;
        }
    }
}

@media screen and (max-width: 565px) {
	#contact-us {
		h1 {
			font-size: 35px!important;
		}

		section {
			margin-bottom: 0px!important;
		}
	}

	.main-page {
		#home-slider {
			.display-b {
				font-size: 15px!important;
			}
		}
	}

	.signupsuccess {
		width: 100%!important;
	}
}

@media screen and (min-width: 516px) and (max-width: 625px) {
	.article-detail #main_seller_menu {

		& > li {
			margin: 15px 40px !important;

			&:before {
				left: -84px;
				width: 84px;
			}
		}

		& > li:nth-child(5) {
			&:before {
				visibility: hidden;
			}
		}

	}
}

@media screen and (max-width: 591px) {

	.article-detail #main_buyer_menu {

		& > li {
			margin: 15px 50px !important;
		}

		>li:nth-child(4):before {
			visibility: hidden;
		}

		>li:nth-child(5):before {
			visibility: visible;
		}

		>li:before {
			left: -103px;
    		width: 103px;
		}
	}
}

@media screen and (max-width: 517px ) {
	#dashboard_utilities {
		height: 152px;
	}
}

@media screen and (max-width: 515px ) {

	.article-detail #main_seller_menu {

		& > li {
			margin: 15px 29px !important;

			&:before {
				left: -83px;
				width: 83px;
			}
		}

		& > li:nth-child(5):before {
			visibility: hidden;
		}
	}

	.main-page {
		.container {
			padding-left: 20px!important;
			padding-right: 20px!important;
		}

		#home-slider {
			.display-b {
				font-size: 15px!important;
			}
		}
	}
}


@media screen and (max-width: 511px) {

	.article-detail #main_seller_menu {
		>li:nth-child(4):before,
		>li:nth-child(7):before {
			visibility: hidden;
		}

		>li:nth-child(5):before {
			visibility: visible;
		}
	}
}

@media screen and (max-width: 480px) {
	#signup {

		& , label {
			font-size: 13px!important;
		}
	}

	.main-page #home-slider .summery-container li > .bordered-list-split {
		text-align: center;

		span {
			display: block;
			margin: 8px!important;
		}
	}
}

@media screen and (max-width:  475px) {
	#contact-us {
		h1 {
			font-size: 25px!important;
		}

		& > .row > .container {
			padding-top: 30px!important;
			padding-bottom: 30px!important;

			.col-md-8 {
				padding: 0px!important;
			}
		}
	}

	#blogs .blog-cover {
		height: 195px;
	}
}

@media screen and (max-width: 457px) {

	.article-detail #main_buyer_menu {

		& > li {
			margin: 15px 45px !important;

			&:before {
				left: -93px;
				width: 93px;
			}
		}

		& > li:nth-child(4) {
			&:before {
				visibility: hidden;
			}
		}

	}

	#list-your-home {
		.agent-profile {
			.input-group {
				width: 100%!important;
			}
		}
	}
}

@media screen and (max-width: 431px) {

	.article-detail #main_buyer_menu {

		& > li {
			margin: 15px 30px !important;

			&:before {
				left: -64px;
				width: 64px;
			}
		}

		& > li:nth-child(4) {
			&:before {
				visibility: hidden;
			}
		}

	}
}
@media only screen and (min-width: 425px) and (max-width: 599px)
{
	.featured-section {
		h4 {
			font-size: 30px !important;
		}
	}
	.margin-top-small{
		transform: translatey(-40px);
	}

}

@media screen and (max-width: 425px) {
	#sc_dashboard_menu_container {
		& > .sc_dashboard_menu {
			width: 100% !important;
			display: inline;
		}
	}

	#listed_menu.navoffer {
		& > li {
			margin: 3px;
			display: block;
			float: left;
			width: auto;
		}
	}

	.tab-content {
		margin-top: 10px;
	}

	.type-of-financing {
		& > li {
			width: 49%;
		}
	}

	.article-detail #main_buyer_menu {

		& > li {
			margin: 15px 30px !important;

			&:before {
				left: -64px;
				width: 64px;
			}
		}

		& > li:nth-child(4) {
			&:before {
				visibility: hidden;
			}
		}

	}

	.w-66-p {
		width: 49%!important;
	}
}

@media screen and (max-width: 410px) {
	#signup {
		h3 {
			font-size: 19px!important;
		}

		#registration_part_one .col-sm-12 {
			padding: 0px!important;
		}
	}
}

@media screen and (max-width: 391px) {
	.article-detail #main_seller_menu {

		& > li:nth-child(3),
		& > li:nth-child(5) {
			&:before {
				visibility: hidden;
			}
		}

		& > li:nth-child(4) {
			&:before {
				visibility: visible;
			}
		}

	}
}

@media screen and (max-width: 397px) {

	.article-detail #main_seller_menu {
		>li:nth-child(3),
		>li:nth-child(4) {
			margin-top: 30px!important;
		}

		>li:nth-child(3):before,
		>li:nth-child(5):before {
			visibility: hidden;
		}

		>li:nth-child(4):before {
			visibility: visible;
		}
	}

}

	@media only screen and (min-width: 375px) and (max-width: 424px)
	{
		.featured-section {
			h4 {
				font-size: 30px !important;
			}
		}
		.margin-top-small{
			transform: translatey(-40px);
		}

	}

@media screen and (max-width: 375px) {
	.article-detail #main_seller_menu {

		& > li:nth-child(7) {
			&:before {
				visibility: hidden;
			}
		}

	}

	#contact-us {
		& > .row > .container {
			.col-sm-12,
			.col-md-12 {
				padding: 0px!important;
			}
		}
	}

	#signup {
		.rd-btn-lockup {
			margin-bottom: 15px!important;
		}

		.form-check {
			width: 100%!important;
    		margin-right: 0!important;
    		margin-left: 30px!important;
		}
	}
}

@media screen and (max-width: 363px) {

	#dashboard_utilities {
		height: 220px;
	}

	.article-detail #main_seller_menu {
		>li:nth-child(5):before {
			visibility: hidden;
		}

		>li:nth-child(4):before {
			visibility: visible;
		}
	}
}

@media screen and (max-width: 337px) {
	.article-detail #main_buyer_menu {

		& > li:nth-child(3),
		& > li:nth-child(5) {
			&:before {
				visibility: hidden;
			}
		}

		& > li:nth-child(4) {
			&:before {
				visibility: visible;
			}
		}

	}

	#login {
		.min-height-700 {
			min-height: initial!important;

			.logincontainer {
				margin: 70px auto!important;
			}
		}

		.logincontainer {
			width: 100%!important;
		}
	}
}

@media only screen and (min-width: 320px) and (max-width: 374px)
{
	.navbar-collapse.in{
		transform: translatex(9px);
		width: 100%;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		transform: translatey(0px) translatex(9px);
    width: 100%;
	}
	.margin-top-small{
		transform: translatey(-12px);
	}
	.column .featured-header{
		font-size: 22px !important;
	}
	.heading-small{
		font-size: 17px !important;;
	}
	.column.text-center>p, .text-center.columns>p{
		font-size: 17px !important;
	}
	.featured-section {
		h4 {
			font-size: 22px !important;
		}
	}
}

@media screen and (max-width: 283px) {
	.article-detail #main_seller_menu {
		>li {
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7) {
				margin-top: 10px!important;
			}

			&:before {
				visibility: hidden!important;
			}
		}
	}
}

@media screen and (max-width: 243px) {
	.article-detail #main_buyer_menu {
		>li {
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7) {
				margin-top: 10px!important;
			}

			&:before {
				visibility: hidden!important;
			}
		}
	}
}
