#sell-with-turbo {
	.bulletcon-inline-heading{
		font-size: 17px !important;
	}

	.slider-title {
		font-size: 25px !important;
	}

	.slider-p {
    	max-width: initial !important;
	    font-size: 17px;
	}
}

#seller-tab-content{
    img.img-responsive{
            width:100%;
    }
}
