.main-page {
	.video-section {
		& > div {
			padding-top: 60px!important;
		}

		.featured-header {
			text-align:center; 
			font-weight:900; 
			font-size:50px; 
			color:white!important;

			.cloud-logo {
				width: 75px;
				margin-top: -12px;
			}

			.kicker {
				font-size: 40px!important;
			}
		}
	}

	.kicker-section {
		& > .container {
			padding-top: 35px!important;
			padding-bottom: 35px!important;

			.kicker {
				text-align: center; 
				font-size: 35px; 
				color: #fff; 
				line-height: 1.5;
				margin: 0;
			}
		}
	}

	.buyer_seller-section {
		& > .row > .container {
			padding-top: 50px !important;
			padding-bottom: 50px !important;

			.title {
				text-align: left; 
				font-size: 40px; 
				color: #4e4e4e; 
				line-height: 120%; 
				font-weight:700;
			}

			.description {
				text-align: justify; 
				font-size: 17px;
			}
			
			.buyer-img:first-child {
				display: none;
			}

			img {
				width: 100%;
				margin-bottom: 20px;
			}

			.seller-img-lockup {
				background-color:#F1F1F1;
			}

			a {
				color: #ED7D31;
			}
		}
	}

	#home-slider {
		background-color:#fefefe;
		font-size: 20px!important;

		& > .container {
			padding-top: 30px !important;
			padding-bottom: 30px !important;
		}

		.margin-top-large {
			margin-top: 60px!important;
		}

		.margin-bottom-large {
			margin-bottom: 60px!important;
		}
	}

	.featured-container {
        width: 80%;
        margin: auto;

        p {
	        text-align: center;
	        max-width: initial!important;
	    }

	    p.m-b-30 {
	    	margin: 0 auto 30px!important;
	    }

	    .icon {
	        width: 100px;
	        margin: auto;
	        height: auto;
	        text-align: center;
	        display: block;
	    }
    } 
}