<div class="modal-header">
</div>
<div class="modal-body" ng-controller="loginCtrl">
  <div class="login-box">
      <div class="login-logo">
        <a href=""><b>Teachers Login</b></a> <br>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg" ng-show="loginmsg">Please Sign in to start your session</p>
        <p class="login-box-msg ermsg" ng-show="errorlogin">{[{errormsg}]}</p>
        <form ng-submit="userlogin(teacher)">
          <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Teachers ID" ng-model="teacher.userid">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Password" ng-model="teacher.password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <a class="btn btn-default btn-block btn-flat" ng-click="cancel()">Cancel</a>
            </div><!-- /.col -->
            <div class="col-xs-8">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div><!-- /.col -->
          </div>
        </form>

        <!-- <a href="#">I forgot my password</a> -->

      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
</div>
<div class="modal-footer">
</div>
